<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" href="./css/style.css">
<script src="./js/app.js"></script>

</head>

<body>
{{>header}}

<h1>from a c</h1>
{{title}}
created by {{name}}

{{>footer}}

image.png
</body>



</html>